
# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.flyte/
venv/
env/

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log

# Secrets
.env

# Flyte
.flyte/

# Docker
*.tar

# Jupyter
.ipynb_checkpoints/

# Screenshots temp files
screenshots/.DS_Store
